.link {
	display: inline-block;
	@include Nudista--bold;
	font-size: rem(12);
	color: $darkGrey;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: rem(1.2);

	&:hover {
		color: $blue;
	}

	&:after {
		@include Icons;
		font-size: rem(10);
		content: '\e62d';
		padding-left: rem(10);
	}

	&--lower {
		text-transform: lowercase;

		&:after {
			content: '';
			padding-left: 0;
		}
	}
}

.module p a {
	color: $darkGrey;

	&:hover {
		color: $blue;
	}
}