//! Pushy - v0.9.2 - 2014-9-13
// Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
// https://github.com/christophery/pushy/
// by Christopher Yee

// Menu Appearance

$speed: 0.2s;

.pushy{
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0;
    z-index: 9999;
    background: $black;
    font-size: 0.9em;
    font-weight: bold;
    box-shadow: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch; // enables momentum scrolling in iOS overflow elements
    transition: box-shadow $speed ease;
}

.pushy a{
    display: block;
    color: $grey;
    padding: 15px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-top: 1px solid rgba(255, 255, 255, .1);
    text-decoration: none;
}

.pushy a:hover{
    background: $blue;
    color: $black;
}

// Menu Movement

.pushy-left{
    -webkit-transform: translate3d(-200px,0,0);
    -moz-transform: translate3d(-200px,0,0);
    -ms-transform: translate3d(-200px,0,0);
    -o-transform: translate3d(-200px,0,0);
    transform: translate3d(-200px,0,0);
}

.pushy-open{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    box-shadow: 10px 0px 10px rgba(0,0,0,0.5);
}

// .container-push, .push-push{
//     -webkit-transform: translate3d(200px,0,0);
//     -moz-transform: translate3d(200px,0,0);
//     -ms-transform: translate3d(200px,0,0);
//     -o-transform: translate3d(200px,0,0);
//     transform: translate3d(200px,0,0);
// }

// Menu Transitions

.pushy, #container, .push{
    -webkit-transition: -webkit-transform $speed ease;
    -moz-transition: -moz-transform $speed ease;
    -o-transition: -o-transform $speed ease;
    transition: transform $speed ease;
}

// Site Overlay

.site-overlay{
    display: none;
}

$overlayFadeSpeed: 500ms;

.pushy-active .site-overlay{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0,0,0,0.5);
    -webkit-animation: fade $overlayFadeSpeed;
    -moz-animation: fade $overlayFadeSpeed;
    -ms-animation: fade $overlayFadeSpeed;
    -o-animation: fade $overlayFadeSpeed;
    animation: fade $overlayFadeSpeed;
}

@keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}