//Global Colors

$white: #FFFFFF;
$black: #1D1A19;
$yellow: #FED100;
$blue: #A4C6D3;
$lightestGrey: #F2F1F1;
$lightGrey: #DADADA;
$grey: #CCCCCC;
$darkGrey: #65656A;

//Global font size
$em-base: 14;
$font-size: 1rem;