@import "variables";
@import "mixins";
@import "frontend/typography";
@import "frontend/utilities";
@import "frontend/buttons";
@import "frontend/links";

/*box sizing for our modules
.module,
.module1,
.module50,
.module50pad,
.module23,
.module23split,
.module61,
.module3,
.module3pad,
.module4,
.module--compare,
.module--drawer,
.module--heading,
.module--specs,
.banner,
.footer,
.module .video {
	box-sizing: border-box;

	* {
		box-sizing: inherit;

		&:before, &:after {
			box-sizing: inherit;
		}
	}

}
*/
// All media should be relatively sized
img, embed, object, video {
	max-width: 100%;
}

// Modules


// Plugins
