// styles exclusive to pattern library

@import "variables";
@import "mixins";
@import "fonts";
@import "reset";
@import "nav";

html {
	box-sizing: border-box;
	font-size: $font-size;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	@include OpenSans;
	color: $black;
}

//header
header {
	position: relative;
	background-color: $blue;
	color: $black;

	h1 {
		@include Nudista--bold;
		text-align: center;
		font-size: 9vw;
		text-transform: uppercase;
		padding: 3.5rem 0;

		@include respond(740px) {
			font-size: rem(60);
		}

		span {
			@include Nudista;
			display: block;
			font-size: 1.4rem;
			text-transform: uppercase;
		}
	}
}


//sections

.section__header {
	background-color: $black;
	width: 100%;
	color: $white;
	padding: 1rem;
}

.section__wrap {
	padding: 2rem 1rem;
	position: relative;
}

.section__wrap--nopad {
	padding: 0;
}


//icons section
.icons ul li {
	display: inline-block;
}

@import "sections/colors";
@import "sections/buttons";