// styles exclusive to pattern library

@import "variables";
@import "mixins";
@import "fonts";
@import "reset";
@import "nav";

html {
	font-size: 14px;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	@include OpenSans;
	font-size: $font-size;
	color: $black;
}

h1,h2,h3,h4,h5,h6 {
	text-rendering: geometricPrecision;
}

h1 {
	@include Nudista--bold;
	font-size: rem(60);
	text-transform: uppercase;
}

h2 {
	@include Nudista--bold;
	font-size: rem(24);
}

h3 {
	@include Nudista;
	font-size: rem(24);
}

h4 {
	@include Nudista--light;
	font-size: rem(24);
}

h5 {
	@include Nudista--bold;
	font-size: rem(14);
}

b, strong {
	font-weight: 700;
}

em, i {
	font-style: italic;
}

//header
header {
	position: relative;
	background-color: $blue;
	color: $black;

	h1 {
		text-align: center;
		padding: 3.5rem 0;

		span {
			@include Nudista;
			display: block;
			font-size: 1.4rem;
			text-transform: uppercase;
		}
	}
}


//sections

.section__header {
	background-color: $black;
	width: 100%;
	color: $white;
	padding: 1rem;
}

.section__wrap {
	padding: 2rem 1rem;
	position: relative;
}

.section__wrap--nopad {
	padding: 0;
}

@import "sections/colors";
@import "sections/buttons";