section.buttons {

	.section__wrap {
		@include clearfix;
	}

	.btns {
		float: left;
		padding: 2% 5%;

		&--bg {
			background: $black;
		}

		&--pic {
			background-image: url('http://unsplash.it/500?image=60&blur');
			background-size: cover;
			background-position: 50% 50%;
		}
	}
}