section.buttons {

	background-size: cover;
	background-position: center center;;

	> div > div {
		float: left;
		margin-right: 15px;
	}

	p {
		margin-bottom: 20px;
	}

	.btn {
		@include CoreSansCN-bold;
	}

	.buttonsLinks {
		background: #efefef;

		h4 {
			padding-bottom: .5rem;
		}
	}

	.buttons--background {
		background: url("../images/hero-bikers.jpg") no-repeat 50% 50%;
		background-size: cover;
		padding: 1rem;

		h4 {
			color: $white;
		}
	}
}